.wb-custom-style {
  /* background: linear-gradient(310deg, rgb(41 228 127), rgb(42 144 229)); */
  background: linear-gradient(90deg,#ba8edc,#f377ab,#9795ff,#5756a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wb-container-style {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 500px;
  height: calc(100vh - 120px);
  transition: all 0.3s ease 0s;
}

.wb-box-style {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid;
    border-color: #99ccf3;
    background-color: #f0f7ff;
    box-shadow: 0px 1px 6px 0px rgba(194, 224, 255, 1), 0px 2px 30px 0px rgba(234, 237, 241, 0.3) inset;
}
